// utils/_helpers.scss
@use "@/style/abstracts" as *;
@use "@/style/base/grid" as *;

hr {
  color: rgba($color-text-secondary, 0.2);
  margin-top: rem(24);
  margin-bottom: rem(24);

  @include desktop {
    margin: rem(16) 0;
  }
}

// ==================
// 工具類別 (同 Bootstrap命名方式)
// ==================
.text-end {
  text-align: end;
}
.word-nowrap {
  word-break: keep-all;
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none !important;
}
.d-flex {
  display: flex;
}

// .flex-wrap {
//   flex-wrap: wrap;
// }
// .flex-column {
//   flex-direction: column;
// }
// .align-items-center {
//   align-items: center;
// }
// .justify-content-around {
//   justify-content: space-around;
// }

// .ms-auto {
//   margin-left: auto;
// }
// .ms-3 {
//   margin-left: rem(16);
// }
// .mb-2 {
//   margin-bottom: rem(8);
// }
// .mb-3 {
//   margin-bottom: rem(16);
// }

// .fz-12 {
//   font-size: rem(12);
// }

// .fw-semibold {
//   font-weight: $font-weight-medium;
// }
// .fw-bold {
//   font-weight: $font-weight-bold;
// }

// .text-gray {
//   color: $color-text-secondary;
//   font-weight: $font-weight-light;
//   font-size: rem(16);
//   line-height: normal;
// }

.custom-border {
  border: rem(1) solid white !important;
}

// ==================
// 自訂元件工具
// ==================
.selector {
  display: block;
  width: rem(360);
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;

  @include wide-lg {
    width: rem(200);
  }
}

.required-label {
  &::before {
    content: "*";
    color: $color-danger;
    margin-right: 0;
  }
}

// .leader-line {
//   @include wide {
//     display: none;
//   }
// }

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  z-index: 2;

  span {
    margin-top: rem(24);
  }
}
