@use "@/style/utils/functions" as *;
@use "@/style/abstracts/variables" as *;

.dashboard {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;

  &__loading,
  &__error {
    text-align: center;
    // padding: $spacing-8;
    // color: $color-text-secondary;
  }

  &__error {
    // color: $color-danger;
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // gap: $spacing-4;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// 卡片基底
.stat-card {
  display: flex;
  flex-direction: column;
  margin: 0.25rem;

  &__label {
    font-size: rem(16);
    // color: $color-text-secondary;
    font-weight: 500;
  }

  &__value {
    font-size: rem(28);
    font-weight: 700;
    line-height: 1;
  }

  &__unit {
    font-size: rem(15);
    font-weight: 400;
    margin-left: 2px;
  }

  // 各顏色
  &--teal .stat-card__value {
    color: #0f6e56;
  }
  &--blue .stat-card__value {
    color: #185fa5;
  }
  &--amber .stat-card__value {
    color: #854f0b;
  }
  &--green .stat-card__value {
    color: #3b6d11;
  }
  &--red .stat-card__value {
    color: #a32d2d;
  }
}
